@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
    scroll-behavior: auto;
}

.parallax-bg {
    will-change: transform;
    transition: transform 0.1s linear;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 25s linear infinite;
}

.filter-btn {
    padding: 10px 22px;
    border-radius: 999px;
    border: 1px solid #e5e7eb;
    transition: 0.3s;
    font-weight: 500;
}

.filter-btn:hover {
    background: #dc2626;
    color: white;
}

.filter-btn.active {
    background: #dc2626;
    color: white;
}

.article-card {
    transition: all .3s ease;
}

.article-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.article-card img {
    transition: transform .4s ease;
}

.article-card:hover img {
    transform: scale(1.08);
}

.done {
    transform: scale(1.08);
}
